.header {
  position: absolute;

  width: 100%;
  padding-top: 24px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-wrapper {
    width: 76px;
    height: 54px;

    overflow: hidden;

    img {
      width: 100%;
      height: 100%;

      object-fit: contain;
    }
  }

  .header__nav {
    display: flex;

    &.header__nav--active {
      max-height: 100vh;

      transition: 0.3s;

      .header__nav-link {
        visibility: visible;
        opacity: 1;
        transition: 0.3s;
      }
    }

    @include m-900 {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;

      width: 100%;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      max-height: 0;

      background-color: #000000;
      background-image: linear-gradient(to right, #7273f1 0%, #9a9afa 100%);

      transition: 0.3s;
    }

    @include m-600 {
    }
  }

  .header__nav-link {
    margin-left: 50px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.49px;
    text-decoration: none;

    @include m-1200 {
      margin-left: 2vw;
    }

    @include m-900 {
      margin-top: 5vh;
      margin-left: 0;

      font-size: 30px;
      letter-spacing: 0.41px;

      visibility: hidden;
      opacity: 0;
      transition: 0.1s;
    }

    &:first-child {
      margin-left: 0;

      @include m-900 {
        margin-top: 20vh;
      }
    }
  }

  .header__phone {
    position: relative;

    margin-left: 70px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.45px;
    text-decoration: none;

    &.header__phone--active {
      position: fixed;
      bottom: 15%;
      left: calc((100% - 192px) / 2);
      z-index: 20;

      // margin-top: 5vh;

      visibility: visible;
      opacity: 1;
      transition: 0.3s;
    }

    @include m-900 {
      visibility: hidden;
      opacity: 0;

      transition: 0.1s;
    }

    &::before {
      content: "";
      position: absolute;
      top: calc((100% - 50px) / 2);
      left: -70px;

      width: 50px;
      height: 50px;

      background-image: url("../img/phone-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }

  .header__nav-button {
    position: relative;
    z-index: 20;

    display: none;

    width: 33px;
    height: 4px;

    background-color: #ffffff;

    transition: 0.3s;

    &.header__nav-button--active {
      background-color: transparent;

      &::before {
        top: 0;

        transform: rotate(45deg);
        transition: 0.3s;
      }

      &::after {
        bottom: 0;

        transform: rotate(135deg);
        transition: 0.3s;
      }
    }

    @include m-900 {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      top: -12px;
      left: 0;

      display: block;

      width: 33px;
      height: 4px;

      background-color: #ffffff;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -12px;
      left: 0;

      display: block;

      width: 33px;
      height: 4px;

      background-color: #ffffff;
    }
  }
}
