.header {
  position: absolute;

  width: 100%;
  padding-top: 24px;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo-wrapper {
    width: 76px;
    height: 54px;

    overflow: hidden;

    img {
      object-fit: contain;
    }
  }

  .header__nav-link {
    margin-left: 50px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.49px;
    text-decoration: none;

    &:first-child {
      margin-left: 0;
    }
  }

  .header__phone {
    position: relative;

    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.45px;
    text-decoration: none;

    &::before {
      content: "";
      position: absolute;
      top: calc((100% - 50px) / 2);
      left: -70px;

      width: 50px;
      height: 50px;

      background-image: url("../img/phone-icon.png");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
  }
}
