.about {
  padding: 70px 0 30px;

  .container {
    display: flex;
  }

  .about__img {
    width: 470px;
    height: 590px;
    flex-shrink: 0;

    overflow: hidden;
    box-shadow: 0 25px 30px 20px rgba(26, 36, 101, 0.1);

    img {
      object-fit: contain;
    }
  }

  .about__text-block {
    margin-left: 130px;
    padding-top: 30px;
    max-width: 465px;
  }

  .about__title {
    color: #4f4f4f;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  .about__bold-text {
    margin-top: 20px;
    margin-bottom: 60px;

    color: #4f4f4f;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0.16px;
  }

  .about__text {
    margin-bottom: 20px;

    color: #969696;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.14px;
  }
}
