.contacts {
  padding-bottom: 200px;

  .container {
    display: flex;
    justify-content: space-between;
  }

  .contacts__map {
    width: 470px;
    height: 500px;

    background-image: url("../img/contacts-map.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    box-shadow: 0 25px 30px rgba(26, 36, 101, 0.1);
  }

  .contacts__title {
    padding-bottom: 10px;
    padding-top: 30px;

    color: #4f4f4f;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }

  .contacts__text {
    margin-top: 10px;

    color: #4f4f4f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.16px;
  }

  .contacts__list {
    margin-top: 60px;
  }

  .contacts__item {
    margin-top: 30px;
    padding-left: 30px;

    &:first-child {
      margin-top: 0;

      .contacts__item-name::before {
        top: calc((100% - 15px) / 2);
        left: -30px;

        width: 10px;
        height: 15px;

        background-image: url("../img/contacts-icon1.png");
      }
    }

    &:nth-of-type(2) {

      .contacts__item-name::before {
        top: calc((100% - 13px) / 2);
        left: -30px;

        width: 13px;
        height: 13px;

        background-image: url("../img/contacts-icon2.png");
      }
    }

    &:nth-of-type(3) {

      .contacts__item-name::before {
        top: calc((100% - 15px) / 2);
        left: -30px;

        width: 15px;
        height: 15px;

        background-image: url("../img/contacts-icon3.png");
      }
    }
  }

  .contacts__item-name {
    position: relative;

    color: #7273f1;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.39px;

    &::before {
      content: "";
      position: absolute;

      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  .contacts__button {
    padding: 18px 36px;
    margin-top: 60px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.45px;

    box-shadow: 0 10px 30px rgba(72, 74, 210, 0.27);
    border-radius: 28px;
    background-color: #ffffff;
    background-image: linear-gradient(to right, #7273f1 0%, #9a9afa 100%);

    transition: 0.3s;

    &:hover {
      color: #7273f1;

      background-image: linear-gradient(to right, rgba(114,115,241,0.1) 0%, rgba(154,154,250,0.1) 100%);

      transition: 0.3s;
    }
  }
}
