@import "modules/header/header";
@import "modules/top/top";
@import "modules/advantages/advantages";
@import "modules/service/service";
@import "modules/about/about";
@import "modules/operation/operation";
@import "modules/why/why";
@import "modules/reviews/reviews";
@import "modules/contacts/contacts";
@import "modules/footer/footer";
@import "modules/modal/modal";
