.top {
  padding-top: 293px;
  padding-bottom: 350px;

  background-image: url("../img/top-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include m-900 {
    padding: 160px 0 150px;
  }

  .top__top-text {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0.7px;

    @include m-900 {
      font-size: 20px;
    }
  }

  .top__title {
    margin-top: 15px;

    color: #ffffff;
    font-size: 85px;
    font-weight: 600;
    letter-spacing: 1.24px;

    @include m-900 {
      font-size: 69px;
      letter-spacing: 1.02px;
      line-height: 75px;
    }
  }

  .top__text {
    max-width: 420px;
    margin-top: 40px;

    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.96px;
    letter-spacing: 0.45px;

    @include m-900 {
      margin-top: 30px;
    }
  }

  .top__button {
    padding: 18px 36px;
    margin-top: 70px;
    display: block;

    color: #7273f1;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.45px;

    box-shadow: 0 9px 45px rgba(72, 74, 210, 0.45);
    border-radius: 28px;
    background-color: #ffffff;

    @include m-900 {
      margin-top: 50px;
    }

    @include m-600 {
      margin: 50px auto 0;
    }
  }
}
